.auth-container{
  background-image: url('../src/assets/images/auth.jpg');
  background-size: cover;
  background-position: center center;
}

button:hover
 {
  background-color: #198754 !important;
  
}

button.cancel:hover{
  background-color: red  !important;
}

.bg-overlay{
  background: linear-gradient(45deg,rgba(47, 140, 96, .6),rgba(0, 0, 0, 0.99));
}
.btn-submit {
  background-color:rgba(74, 163, 90, 1);
}
.sidebar-container .ps-sidebar-container {
  border-top-right-radius: 35px;
  min-height: 100vh;
  color: #fff;
  background-color: rgba(31, 38, 62, 1)
}
.sidebar-container .ps-menu-button{
  transition: all 1s;
}
.sidebar-container .ps-menu-button:hover{
  background-color: rgba(0, 146, 77, 0.1) !important;
  border-left: 5px solid rgba(0, 146, 71, 1) ;
}
.btn-resipe{
  background-color: rgba(0, 146, 71, 1);
}
.home-datails{
  background-color: rgba(240, 255, 239, 1);
}
span.textSpan{
  color: rgba(223, 224, 224, 1);
}
.sidebar-container{
  overflow-y: auto;
  flex-grow: 1;
  flex-shrink: 0;
  height: 100%;
}
.border-dashed {
  border-style: dashed !important;
}
span.textUpload{
  color: rgba(0, 146, 71, 1);
}
.dropdown-toggle::after{
  display: none !important;
}
.headerCircle{
  background-image:url(../src/assets/header.svg);
}
