.auth-container{
  background-image: url('../src/assets/images/auth.jpg');
  background-size: cover;
  background-position: center center;
}
.bg-overlay{
  background: linear-gradient(45deg,rgba(47, 140, 96, .6),rgba(0, 0, 0, 0.99));
}
.btn-submit {
  background-color:rgba(74, 163, 90, 1);
}